.paper {
  margin: 0px 0px 15px 0px;
}

.header {
  margin: 0 0 15px 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.timer {
  margin: 0px 0px 0px 15px;
  display: flex;
}

.timerTitle {
  margin: 0px 5px 0px 0px;
}
