.navigation {
  display: flex;
  align-items: center;
  user-select: none;
}

.page {
  text-align: center;
}

.arrow {
  cursor: pointer;
  flex: 1 0 auto;
  text-align: center;
  padding: 10px 0;
}

.arrow:hover {
  background-color: rgba(255, 200, 200, 0.5);
}

.arrowContainer {
  flex: 1 0 auto;
}
